html {
  font-size: 18px;
  }

body {
  font-family: Helvetica;
  line-height: 1.4;
  color: white;
}
.content-page {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  width: 960px;
  align-self: center;
}

.main-banner .container {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
    width: 960px;
    align-self: center;
  }
.banner {
  display: flex;
  align-items: center;

}

.banner img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
 nav span {
  display: flex;
  align-items: center;
}
nav span h4 {
  margin-right: 2rem;
}
.main-banner {
  display: flex;
  flex-direction: column;
  background-image:  url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 31rem;
}
.section-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}
.head-line {
  margin-top: 10rem;
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
}
.head-line span {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
}
.company-ethos {
  display: flex;
  flex-direction: column;
  width: 960px;
  color: black;
  background-position: center;
}
.mobile-span {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .main-banner {
    display: flex;
    height: 22rem;
  }
  .company-ethos {
    display: flex;
    width: 100%;
  }
  .headline span {
    font-size: 1.33rem;
  }
  .headline {
   margin-top: 5rem;
   padding: 0.75rem 4rem;
   margin-right: 2rem;
  }
}
@media only screen and (max-width: 470px) {
  .main-banner {
    display: flex;
    height: 17rem;
    background-position: 20%;
  }
  .company-ethos {
    display: flex;
    width: 100%;
    font-family: Helvetica;
    font-size: 0.77rem;
  }
  .core-ethos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .exams img {
    display: flex;
    margin-top: 3.77rem;
  }
  .delivery img {
    margin-top: 1.54rem;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .philosophy span {
    margin-top: 3.77rem;
    margin-bottom: 1rem;
  }
  .appointments span {
    margin-top: 4rem;
  }
  .footer span {
    display: none;
  }
  .footer img {
    align-self: center;
  }
  .headline span {
    font-size: 1rem;
    text-align: center;
  }
  .headline {
    margin-top: 9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}

.core-ethos {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  height: 8rem;
}
.detail {
  display: flex;
  justify-content: center;
}
.detail span {
  justify-content: center;
  background-color: cadetblue;
  width: 10rem;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.philosophy p {
  margin-right: 2.5%;

}
.appointments p {
  margin-left: 2.5%;

}
.philosophy {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-top: 3rem;
  margin-bottom: 5rem;

}

.exams img {
  width: 3.5rem;
  }
.fittings img {
    width: 5rem;

    }
    .fittings {
      margin-right: 6rem;
      margin-left: 6rem;
    }
  .delivery img {
    width: 5rem;

}
.exams, .fittings, .delivery {
  display: flex;
  flex-direction: column;

}
.philosophy. .appointments {
  display: flex;
  flex-direction: column;
}
.footer {
  display: inline-flex;
  align-items: center;
  background-color: azure;
  color: black;
  width: 100%;
  height: 5rem;
  justify-content: flex-start;

}
.footer img {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 1rem;
  height: 1rem;
}
